{% extends "layout.html" %}

{% block header %}iamJohnnySam Media Box{% endblock %}

{% block body %}
  <div class="hero">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-5">
          <div class="intro-excerpt">
            <h1>iamJohnnySam <span clsas="d-block">MediaBox</span></h1>
            <p class="mb-4">
              DIY Hobby Home Automation and Media Control Solution based off from a Raspberry Pi
            </p>
            <p>
              <a href="/media.html" class="btn btn-secondary me-2">Media</a>
              <a href="#stats" class="btn btn-white-outline">Explore</a></p>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="hero-img-wrap">
            <img src="{{ url_for('static', filename='iamJohnnySam_Website_logo.png') }}" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}